/* 1601 - 1920 px */
/*@media screen and (max-width: 1920px) {
}
*/
/* 1369 - 1600 px */
/*@media screen and (max-width: 1600px) {
}
*/
/* 961 - 1368 px */
/*@media screen and (max-width: 1368px) {
 }
*/
/* 769 - 960 px */
@media screen and (max-width: 960px) {
	.btn {
		font-size: 18px;
	}
	.offer__menu_text {
		font-size: 30px;
		font-weight: 700;
	}
	.offer__get {
		font-size: 20px;
	}
}
/* 481 - 768 px */
@media screen and (max-width: 768px) {
	.btn {
		font-size: 12px;
		font-weight: 700;
		color: #fff;
	}
	.offer__menu_text {
		font-size: 20px;
		font-weight: 700;
		color: #fff;
	}
	.offer__get {
		font-size: 16px;
	}
}
/* 320 - 480 px */
@media screen and (max-width: 480px) {
	.btn {
		font-size: 8px;
		font-weight: 700;
		color: #fff;
	}
	.offer__menu_text {
		font-size: 12px;
		font-weight: 700;
		color: #fff;
	}
	.offer__get {
		font-size: 12px;
	}
}